<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.bigsize.pot_terminal">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

  <application
    android:usesCleartextTraffic="true"
    android:name=".AppBase"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Pot_terminal">
    <activity android:name=".Lineup" />
    <activity android:name=".Failure" />
    <activity android:name=".ShelfReceiving" />
    <activity android:name=".ShelfShipping" />
    <activity android:name=".ShelfReplaceS" />
    <activity android:name=".ShelfReplaceB" />
    <activity android:name=".ItemVerification" />
    <activity android:name=".Inventory" />
    <activity android:name=".DataConfirm" />
    <activity android:name=".DataTransfer" />
    <activity android:name=".ItemInspection" />
    <activity android:name=".SortShipping" />
    <activity android:name=".LocationConfirm" android:windowSoftInputMode="stateAlwaysHidden" />
    <activity android:name=".BoxHetShipping" />
    <activity android:name=".BoxShipping" />
    <activity android:name=".BoxConfirm" />
    <activity android:name=".Entrance">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
